{% extends "layout.html" %}

{% block title %}<title>Add Book - Lilian's Library</title>{% endblock %}

{% block content%}
    {% if success is True %}

        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div class="container h-100">
            <a class="btn btn-primary" href="{% url 'add' %}" name="no">Go back</a>
        </div>

    {% else %}
        <div class="container-fluid pt-3">
            <h1>Add a Book</h1>

            <form method="GET" action="{% url 'check' %}">
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}


{% endblock %}
