{% extends "layout.html" %}

{% block title %}<title>Lilian's Library: Add book</title>{% endblock %}

{% block content%}
        {% if success is True %}
            <div class="container h-100 container-scroll">
                <img id="book-image" class="img-fluid float-right mt-3 mr-4 ml-2 mb-2" src="{{ thumbnail }}" />
                <div class="mt-4 ml-2">
                    <h3 class="font-weight-bold">{{ title }}</h3>
                    <p>{{ authors|join:", " }}</p>
                    <p>Ed: {{ publisher }}</p>
                    <p>Published: {{ published_date }}</p>
                    <p>{{ isbn }}</p>
                    <p>Language: {{ language }} ({{ print_type }})</p>
                    <p>Categories: {{ categories|join:"," }}</p>
                    <p>{{ description }}</p>
                </div>

                <form id="form-confirm" action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                </form>
                <div class="text-center mb-3">
                    <a class="btn btn-danger" href="{% url 'add' %}" name="no">Go back</a>

                    <input class="btn btn-primary" type="submit" form="form-confirm" value="Send">

                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            <div class="container h-100">
                <a class="btn btn-primary" href="{% url 'add' %}" name="no">Go back</a>
            </div>
        {% endif %}
{% endblock %}
