{% extends "layout.html" %}

{% block title %}<title>Lilian's Library: Add book</title>{% endblock %}

{% block content%}
    <div class="container h-100">
        <div class="row">
            <div class="col-md-8 mt-3">
                <h3 class="font-weight-bold">{{ title }}</h3>
                <p>
                    {% for author in authors %}
                        <span>{{ author }}</span>
                    {% endfor %}
                </p>
                <p>Ed: {{ publisher }}</p>
                <p>Published: {{ publised_date }}</p>
                <p>{{ isbn }}</p>
                <p>Language: {{ language }} ({{ print_type }})</p>
                <p>Categories:
                    {% for category in categories %}
                        <span>{{ category }}</span>
                    {% endfor %}
                </p>
                <p>{{ description }}</p>
            </div>
            <div class="col-md-4 mt-3">
                <img class="img-fluid" src="{{ thumbnail }}" />
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="button" name="ok">Add to Library</button>
            <button class="btn btn-danger" type="button" name="no">Go back</button>

        </div>
    </div>
{% endblock %}
