<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block title %}<title>Lilian's Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Eduardo Matsuoka">
    <meta name="description" content="Browse all books from Lilian's collection">

    <meta property="og:description" content="Browse all books from Lilian's collection">
    <meta property="og:title" content="Lilian's Library">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Adobe Garamond font -->
    <link rel="stylesheet" href="https://use.typekit.net/ygt2xei.css">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS File -->
    <script type="text/javascript" src="{% static 'catalog/scripts.js' %}"></script>
</head>
<body>
    <!-- Mobile Navigation Bar -->
    <div class="pos-f-t d-lg-none">
        <nav id="nav-mobile" class="navbar navbar-light bg-white">
            <a id="search-button" class="navbar-toggler border-0 d-inline" role="button" data-toggle="collapse" data-target="#navbarToggleSearch" aria-controls="navbarToggleSearch" aria-expanded="false" aria-label="Toggle navigation">
                <span id="lib" class="text-dark font-weight-bold">LIB</span>
                <span class="text-dark ">SLOWSHIMOGO</span>
            </a>

            <button id="nav-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDisplayMenu" aria-controls="navbarDisplayMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!-- Dropdown menu buttons -->
        <div class="collapse" id="navbarDisplayMenu">
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link active" type="button" href="{% url 'index' %}">
                    <div class="btn btn-outline-dark menu-buttons">
                        <p class="text-right font-weight-bold mb-0">home</p>
                    </div>
                </a>
                <a class="nav-item nav-link active" type="button" href="{% url 'books' %}">
                    <div class="btn btn-outline-dark menu-buttons">
                        <p class="text-right font-weight-bold mb-0">titles</p>
                    </div>
                </a>
                <a class="nav-item nav-link active mb-4" href="{% url 'authors' %}">
                    <div class="btn btn-outline-dark menu-buttons">
                        <p class="text-right font-weight-bold mb-0">authors</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="collapse" id="navbarToggleSearch">
            <div class="bg-white p-4">
                <!-- Search Box for Mobile -->
                <form action="{% url 'search' %}" method="GET">
                    <div class="input-group input-group-lg my-3 justify-content-center">
                        <input id="search-box-menu" class="search-box" type="text" name="search"/>
                        <button id="search-button" class='btn' type="submit">
                            <i id="icon" class="fa fa-search icon-large"></i>
                        </button>
                    </div>
                </form>

                <!-- Quotes -->
                <div>
                    <p class="text-center quotation mb-0">“</p>
                    <div id ="quote" class="text-center mx-4">
                        <p id="quote" class="font-italic text-center mb-0">
                            {% for quote in random_quote %}
                                {{ quote.quote }}
                        </p>
                        <p id="author" class="font-italic text-right mb-0">{{ quote.author}}</p>
                            {% endfor %}
                    </div>
                    <p class="text-center quotation mb-0">”</p>

                </div>
            </div>
        </div>
    </div>

    <!-- Contents for medium or larger viewports -->
    <div id="contents-container" class="container-fluid">
        <div class="row">
            <div id="menu" class="col-md-6 pl-5 d-none d-lg-flex flex-column justify-content-around sticky-top">
                <div>
                    <!-- Search Box for Larger Viewports -->
                    <form action="{% url 'search' %}" method="GET">
                        <div class="input-group input-group-lg mt-3">
                            <input class="search-box" type="text" name="search" placeholder="SLOWSHIMOGO"/>
                            <button id="search-button" class='btn p-0' type="submit">
                                <img id="bike-icon" src="{% static 'catalog/bike-icon.png' %}" alt="bike icon" height="30">
                                <!-- <i id="icon" class="fa fa-search icon-large"></i> -->
                            </button>
                        </div>
                    </form>

                    <!-- Title -->
                    <a href="{% url 'index' %}" class="text-body navbar-brand">
                        <h1 id="main-title" class="font-weight-bold">LIBRARY</h1>
                    </a>
                </div>


                <!-- Quotes -->
                <div>
                    <p class="text-center quotation mb-0">“</p>
                    <div class="text-center mx-4 w-75">
                        <p id="quote" class="font-italic text-center mb-0">
                            {% for quote in random_quote %}
                                {{ quote.quote }}
                        </p>
                        <p id="author" class="font-italic text-right mb-0">{{ quote.author}}</p>
                            {% endfor %}
                    </div>
                    <p class="text-center quotation mb-0">”</p>
                </div>

                <!-- Sort By Menu -->

                <div class="d-flex flex-column">
                    <h5 class="mb-0">sort by:</h5>
                    <a href="{% url 'books' %}">
                        <div class="btn btn-outline-dark menu-buttons">
                            <p class="text-right font-weight-bold mb-0">
                                title
                            </p>
                        </div>
                    </a>
                    <a class="mb-3" href="{% url 'authors' %}">
                        <div class="btn btn-outline-dark menu-buttons">
                            <p class="text-right font-weight-bold mb-0">
                                author
                            </p>
                        </div>
                    </a>
                    <!-- <a class="mb-3" href="#">
                        <div class="btn btn-outline-dark menu-buttons">
                            <p class="text-right font-weight-bold mb-0">
                                isbn
                            </p>
                        </div>
                    </a> -->
                </div>

            </div>
            <div id="content" class="col-lg-6 px-0">
                {% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination mb-3 ml-4">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
