{% extends "layout.html" %}
{% block title %}<title>Author List - Lilian's Library</title>{% endblock %}
{% block content %}
    <div class="container mt-2 ml-2">
        {% if author_list %}
            <ul>
                {% for author in author_list %}
                    <li class="list-unstyled">
                    <a href="{{ author.get_absolute_url }}" class="library-list-item">
                        + {{ author.name }}
                    </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No authors available.</p>
        {% endif %}
    </div>


{% endblock %}
