{% extends "layout.html" %}
{% block title %}<title>Author Details - Lilian's Library</title>{% endblock %}

{% block content %}
    <div class="container mt-2 ml-2">
        <h1>{{ author.name }}</h1>

        <div style="margin-left:20px;margin-top:20px">
            <h4>Available books</h4>

            {% for book in author.books.all %}
                <hr>
                <img class="img-fluid book-thumb-small float-right" src="{{ book.thumbnail }}" />
                <p>
                    <strong>Title:</strong>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </p>

                <p><strong>Genre:</strong> {{ book.display_genre }}</p>
                <p class="text-muted"><strong>Language</strong> {{ book.language }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
