{% extends "layout.html" %}


{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Available books</h4>

        {% for book in author.book_set.all %}
            <hr>
            <p><strong>Title:</strong> {{ book.title }}</p>
            <p><strong>Genre:</strong> {{ book.display_genre }}</p>
            <p class="text-muted"><strong>Language</strong> {{ book.language }}</p>
        {% endfor %}
    </div>
{% endblock %}
