{% extends "layout.html" %}

{% block content %}
    <div class="container h-100 mt-2">
        {% if author_list %}
            <h1>Authors</h1>
            <ul>
                {% for author in author_list %}
                    <li>
                    <a href="{{ author.get_absolute_url }}">
                        {{ author.name }}
                    </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No authors available.</p>
        {% endif %}
    </div>


{% endblock %}
