#nav-mobile {
    height: 15vh;
}

body {
    font-family: adobe-garamond-pro, serif;
}

#lib {
    font-size: 2.5em;
}

#menu {
    max-height: 100vh;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.img-container {
    max-height: 100vh;
    overflow: hidden;
    /* Content minus the navbar height */
    height: calc(100vh - 15vh);
}

#add-link {
    font-size: 1.5em;
    font-weight: bold;
    color: DarkGray;
}

/* When using two side by side pannels on large screens */
@media (min-width: 992px) {
    #content {
        background-color: Gainsboro;
        min-height: 100vh;
    }

    .img-container {
        height: 100vh;
    }

    #add-link {
        color: white;
    }
}



#right-image {
    width: 100%;
    object-fit: cover;
}

/* Search Bar */
.search-box {
    border: none;
    border-bottom-style: solid;
    border-width: 1px;
    width: 40%
}

#search-box-menu {
    width: 80%;
}

/* Search Button */
#search-button {
    border: none;
    background-color: inherit;
}

/* #bike-icon {
    max-height: 5px;
} */

#icon {
    font-size: 2em;
}

#main-title {
    text-decoration: none;
    font-size: 12vmin;
}

.quotation {
    font-weight: bold;
    font-size: 2em;
}

/* Menu buttons */
a .btn {
    border: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-radius: 0;
}

.menu-buttons {
    width: 80vw;
}

@media (min-width: 768px) {
    .menu-buttons {
        width: 40vw;
    }
}

.menu-buttons > p {
    font-size: 1.2em;
}

/* Book Details */
#book-image {
    height: 50vh;
}

.book-thumb-small {
    height: 40vw;
}

@media (min-width: 768px) {
    .book-thumb-small {
        height: 23vw;
    }
}

@media (min-width: 768px) {
    .menu-buttons {
        width: 40vw;
    }
}

/* For results listing on right pannel */

a {
    color: black;
}

a:hover {
    color: DarkGray;
}

/* For book list page */

.tag-link {
    font-size: 1.3em;
}

.library-list-item {
    font-size: 1.2em;
}

@font-face {
  font-family: 'Futura Bold';
  src: local('Futura Bold font'),
       url("../fonts/Futura-Bold-font.4c62644b1595.ttf") format("truetype");
}

.search-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Futura Bold', sans-serif;
  opacity: 1; /* Firefox */
  letter-spacing: 2px;
  color: LightGray;
  font-weight: bold;
}

.search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Futura Bold', sans-serif;
  letter-spacing: 2px;
  color: LightGray;
}

.search-box::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Futura Bold', sans-serif;
  letter-spacing: 2px;
  color: LightGray;
}

.search-box {
    outline-color: black;
}

/* Text that goes inside input */
input[type='text'] {
    font-family: 'Futura Bold', sans-serif;
    letter-spacing: 2px;
    color: black;
}

/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
} */


/*
Adobe Garamond Pro Bold

font-family: adobe-garamond-pro, serif;

font-weight: 700;

font-style: normal;


Adobe Garamond Pro Regular

font-family: adobe-garamond-pro, serif;

font-weight: 400;

font-style: normal;



*/
